/* -------------- MEDIA QUERY --------------- */

@media(max-width: 799px) {

    .section-p1 {
        padding: 50px 30px;
    }

    h2 {
        font-size: 30px;
    }

    #nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        background-color: #DFDFDF;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        top: 0;
        left: -500px;
        height: 100vh;
        width: 350px;
        padding: 100px 0 0 20px;
        transition: 0.3s;
    }

    #nav-menu.show {
        left: 0px;
    }

    #nav-menu li {
        margin-bottom: 20px;
    }

    #mobile-menu {
        display: flex;
        align-items: center;
    }

    #mobile-menu i {
        font-size: 26px;
        padding-left: 20px;
        color: #C10001;
    }

    #close {
        display: initial;
        position: absolute;
        top: 35px;
        left: 35px;
        color: #3C3C3C;
        font-size: 26px;
    }

    #shop-bag {
        display: none;
    }

    #hero {
        padding: 0 70px;
        background-position: top 60% right 80%;
        height: 70vh;
    }

    #feature .f-box {
        width: 300px;
        height: 250px;
        padding: 20px 10px;
        margin: 10px;
    }

    #feature .f-box h6 {
        padding: 5px;
        margin-top: 5px;
    }

    #banner {
        padding: 0 30px;
        height: 30vh;
    }

    #banner h2 {
        font-size: 30px;
    }

    #banner .btn-sub {
        font-size: 16px;
        padding: 10px 20px;
    }

    #brands .brands-logo img {
        max-width: 100px;
        height: 100px;
        margin: 10px;
    }

    #cta-banner {
        padding: 50px 30px 00px 30px;
        margin: 0;
    }

    #cta-banner .container {
        text-align: start;
        margin: 0;
    }

    #cta-banner .container .description-banner h2 {
        padding: 20px 0;
    }

    #cta-banner .container .description-banner h4 {
        padding: 20px 0;
    }
    
    #cta-banner .container .description-banner {
        padding: 30px 50px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #cta-banner .container .img-banner {
        right: -70px;
    }

    .product-images-box {
        display: flex;
        width: 60%;
    }

    #blog {
        padding: 80px 80px 0 80px;
    }

    #blog .blog-image {
        margin-right: 10px;
        margin-left: 10px;
    }

    #blog .blog-text {
        margin-left: 10px;
        margin-right: 10px;
    }

    #abour-header {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 0;
        padding: 100px 100px 0 100px;
    }

    #abour-header .about-images {
        width: 100%;
    }

    #abour-header .about-text {
        width: 100%;
        padding: 100px 0 0 0;
    }

    #contact .contact-details .map {
        display: block;
        width: 400px;
        height: 250px;
        text-align: center;
    }

    #contact .contact-details .row {
        display: flex;
        flex-direction: column;
        padding-top: 250px;
    }

    #contact .contact-details .row .contact-col h4 {
        padding-top: 50px;
    }
}

@media(max-width: 477px) {

    h1 {
        font-size: 32px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    #header {
        padding: 10px 20px;
    }
    
    #hero {
        padding: 0 30px;
        background-position: 40%;
    }

    #feature {
        display: flex;
        flex-direction: column;
    }

    #feature .f-box {
        padding: 20px;
        margin: 22px;
    } 

    #feature .f-box img {
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
    }

    #feature .f-box h6 {
        font-size: 15px;
        padding: 10px;
    }

    #banner h2 {
        font-size: 20px;
        line-height: 33px;
        padding-bottom: 25px;
    }

    #cta-banner .container .img-banner img {
        display: none;
    }

    /* Single Product */
    #product-details {
        display: flex;
        flex-direction: column;
    }

    .product-images-box {
        display: flex;
        width: 100%;
    }

    #product-details .single-product-details {
        width: 100%;
    }

    #blog {
        padding: 50px 30px 0 30px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 20px;
        border-top: 1px dotted #C10001;
        border-bottom: 1px dotted #C10001;
    }

    #blog .blog-image {
        margin-right: 20px;
        margin-left: 20px;
        width: 100%;
    }

    #blog .blog-text {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    #abour-header {
        padding: 50px 30px 50px 30px;
        height: auto;
        margin-top: 50px;
        margin-bottom: 0;
    }

    #abour-header .about-images {
        width: 100%;
        padding: 0 0;
    }

    .about-images .about-second-img {
        bottom: -85px;
        left: 75px;
        height: 120px;
        max-width: 170px;
    }

    .about-text h1 {
        padding-top: 50px;
    }

    #contact .contact-details .map {
        display: block;
        width: 300px;
        height: 150px;
        text-align: center;
    }

    #form-details .form {
        padding: 50px 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #add-cart {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }
}